/* Basic styles for the default HTML */
.weatherWindow {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#428af5, #2471e3);
}

.weatherAnimation {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.currentParams {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.cityName {
    margin: 10px 10px;
    text-align: center;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 500;
}

.additionalInfoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.currentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    padding: 6px 12px;
    border-radius: 10px;
    margin: 20px 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.infoName {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin: 0 2px 4px 2px;
}

.infoParams {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.info {
    margin: 0 10px 0 0;
}

img {
    width: 50px;
    height: 40px;
}




/* Cloudy weather animation */
.clouds {
    background-image: url('../../images/cloudsMobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    max-height: 175px;
    width: 100%;
}


/* Rainy weather animation */
.rain {
    position: absolute;
    left: 0;
    width: 90%;
    z-index: 0;
}


body.back-row-toggle .rain.back-row {
    display: block;
}

.drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: rainDrop 0.5s linear infinite;
}

.stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
}


.splat {
    width: 15px;
    height: 10px;
    border-top: 2px dotted rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: splat 0.5s linear infinite;
    display: none;
}

body.splat-toggle .splat {
    display: block;
}



/* Weather animation {clear} */
.sun {
    position: relative;
    width: 100px;
    height: 50px;
    background: radial-gradient(#f5f502 ,#faba0a);
    border-radius: 0 0 50% 50%/0 0 100% 100%;
}

.sunAray {
    position: absolute;
    width: 6px;
    height: 30px;
    background: linear-gradient(#e89609, #fcd80d);
    animation: wiggleSunRays 1s linear infinite;
}

.sunAray-0{
    height: 34px;
    top: -2px;
    left: 120px;
    transform: rotate(101deg);
}

.sunAray-1{
    top: 20px;
    left: 110px;
    transform: rotate(108deg);
}

.sunAray-2{
    top: 38px;
    left: 98px;
    transform: rotate(123deg);
}

.sunAray-3{
    top: 52px;
    left: 78px;
    transform: rotate(146deg);
}

.sunAray-4{
    top: 58px;
    left: 50px;
    height: 28px;
    transform: rotate(180deg);
}

.sunAray-5{
    top: 52px;
    left: 22px;
    transform: rotate(207deg);
}

.sunAray-6{
    top: 40px;
    left: 0px;
    transform: rotate(220deg);
}

.sunAray-7{
    top: 20px;
    left: -18px;
    transform: rotate(238deg);
}

.sunAray-8{
    top: -3px;
    left: -30px;
    transform: rotate(260deg);
    height: 34px;
}


/* Fixing the cloud background so does not glitch out for the user */
@media(min-width: 260px) {
    .clouds {
        background-repeat: repeat;
    }
}

@media(min-width: 300px) {
    .weatherAnimation {
        height: 20vh;
        width: 100%;
    }
}

@media(min-width: 520px) {
    .clouds {
        background-image: url('../../images/cloudsMobile.png');
        background-size: contain;
        height: 100%;
        max-height: 175px;
    }

    .weatherAnimation {
        height: 30vh;
        width: 100%;
    }

    .cityName {
        font-size: 44px;
    }

    .additionalInfoWrapper {
        flex-direction: row;
        margin: 40px 0;
        align-items: flex-start;
    }

    .currentParams {
        height: 50vh;
        width: 100%;
    }

}

@media(min-width: 820px) {
    .clouds {
        background-image: url('../../images/clouds.png');
    }

    .sun {
        width: 200px;
        height: 100px;
    }
    
    .sunAray {
        width: 12px;
        height: 60px;
    }
    
    .sunAray-0{
        top: -10px;
        left: 240px;
    }
    
    .sunAray-1{
        top: 30px;
        left: 230px;
    }
    
    .sunAray-2{
        top: 70px;
        left: 210px;
    }
    
    .sunAray-3{
        top: 106px;
        left: 162px;
        transform: rotate(150deg);
    }
    
    .sunAray-4{
        top: 120px;
        left: 96px;
    }
    
    .sunAray-5{
        top: 106px;
        left: 26px;
        transform: rotate(204deg);
    }
    
    .sunAray-6{
        top: 70px;
        left: -20px;
        transform: rotate(228deg);
    }
    
    .sunAray-7{
        top: 30px;
        left: -46px;
        transform: rotate(246deg);
    }
    
    .sunAray-8{
        top: -10px;
        left: -60px;
        transform: rotate(262deg);
    }
}


@keyframes wiggleSunRays {
    0% {
        clip-path: polygon(32.54% 0%, 57.38% 0%, 57.38% 100%, 32.54% 100%);
    }

    10% {
        clip-path: polygon(32.81% 68.8%, 32.69% 64.34%, 32.61% 59.65%, 32.49% 55.19%, 32.3% 46.04%, 32.53% 40.91%, 33.22% 35.16%, 34.16% 30.38%, 34.05% 24.92%, 33.27% 21.96%, 33.14% 18.21%, 32.41% 14.25%, 32.44% 7.08%, 32.54% 0%, 57.38% 0%, 57.25% 9.53%, 57.6% 16.1%, 58.76% 21.92%, 59.54% 27.24%, 59.23% 30.83%, 58.84% 35.04%, 57.43% 37.66%, 57.27% 41.77%, 57.38% 46.63%, 57.38% 55.1%, 56.59% 61.01%, 56.06% 65.59%, 55.95% 69.81%, 55.97% 74.07%, 56.36% 78.35%, 56.41% 83%, 57.4% 88.29%, 57.38% 93.25%, 57.38% 100%, 33.76% 100%, 33.46% 93.25%, 33.67% 87.77%, 33.22% 82.17%, 32.88% 77.48%, 32.54% 72.78%);
    }

    20% {
        clip-path: polygon(31.71% 68.59%, 31.79% 64.58%, 31.66% 60.19%, 32.54% 54.95%, 32.3% 46.04%, 34.15% 41.91%, 35.34% 36.87%, 36.41% 31.52%, 36.78% 26.66%, 36.39% 22.82%, 34.89% 18.5%, 32.41% 14.25%, 32.44% 7.08%, 32.54% 0%, 57.38% 0%, 57.25% 9.53%, 57.6% 16.1%, 60.38% 21.35%, 62.16% 26.38%, 61.6% 30.83%, 59.96% 35.18%, 58.43% 37.95%, 57.27% 41.77%, 57.38% 46.63%, 57.38% 55.1%, 55.09% 60.72%, 53.31% 65.02%, 52.95% 68.95%, 53.34% 73.93%, 54.73% 77.64%, 55.28% 82.57%, 56.15% 87.72%, 57.38% 93.25%, 57.38% 100%, 33.76% 100%, 33.46% 93.25%, 33.67% 87.77%, 33.07% 82.64%, 30.64% 77.35%, 30.04% 73.21%);
    }

    30% {
        clip-path: polygon(26.96% 69.45%, 29.54% 65.15%, 31.66% 60.19%, 32.54% 54.95%, 32.3% 46.04%, 34.15% 41.91%, 36.84% 38.44%, 39.28% 33.23%, 40.15% 28.52%, 38.64% 23.68%, 36.64% 18.64%, 33.91% 13.96%, 32.44% 7.08%, 32.54% 0%, 57.38% 0%, 57.25% 9.53%, 59.1% 14.81%, 63.13% 19.21%, 65.78% 24.24%, 65.97% 29.26%, 64.71% 34.75%, 61.68% 37.95%, 58.52% 41.34%, 57.38% 46.63%, 57.38% 55.1%, 55.09% 60.72%, 51.56% 65.02%, 48.95% 69.09%, 48.96% 74.64%, 51.35% 79.21%, 53.4% 84%, 56.15% 87.72%, 57.38% 93.25%, 57.38% 100%, 33.76% 100%, 33.46% 93.25%, 32.54% 88.2%, 30.44% 83.64%, 28.26% 79.21%, 26.54% 74.64%);
    }

    40% {
        clip-path: polygon(26.34% 68.88%, 28.79% 64.72%, 32.53% 60.05%, 32.54% 54.95%, 32.3% 46.04%, 35.03% 42.34%, 38.34% 38.44%, 41.91% 32.94%, 44.15% 27.81%, 43.39% 22.11%, 38.44% 17.51%, 35.16% 12.96%, 32.82% 7.94%, 32.54% 0%, 57.38% 0%, 57.37% 8.81%, 60.1% 13.24%, 64.07% 16.1%, 67.78% 21.81%, 67.85% 27.12%, 65.71% 32.46%, 62.43% 36.52%, 58.15% 40.77%, 55.88% 46.34%, 56.63% 55.1%, 54.59% 59.86%, 51.44% 64.31%, 48.2% 69.52%, 46.96% 75.21%, 49.6% 80.07%, 52.03% 84.14%, 56.15% 87.72%, 57.38% 93.25%, 57.38% 100%, 33.76% 100%, 33.46% 93.25%, 30.44% 88.59%, 27.03% 84.63%, 23.89% 79.78%, 24.17% 74.21%);
    }

    50% {
        clip-path: polygon(22.34% 67.59%, 26.67% 64.44%, 30.16% 60.05%, 32.67% 55.24%, 32.3% 46.04%, 38.03% 41.2%, 43.59% 38.01%, 46.78% 31.37%, 47.9% 25.52%, 45.02% 19.97%, 42.83% 15.22%, 38.16% 12.25%, 32.82% 7.94%, 32.54% 0%, 57.38% 0%, 57.37% 8.81%, 61.48% 13.24%, 66.44% 16.38%, 71.16% 21.24%, 71.35% 26.97%, 68.46% 32.46%, 63.56% 36.52%, 58.9% 41.34%, 55.88% 46.34%, 55.88% 54.24%, 53.34% 58.72%, 48.44% 61.88%, 43.58% 67.38%, 41.21% 74.35%, 44.1% 79.78%, 48.28% 84.14%, 56.15% 87.72%, 57.38% 93.25%, 57.38% 100%, 33.76% 100%, 33.46% 93.25%, 27.82% 88.44%, 23.28% 84.63%, 20.01% 79.35%, 19.42% 73.64%);
    }

    60% {
        clip-path: polygon(26.34% 68.88%, 28.79% 64.72%, 32.53% 60.05%, 32.54% 54.95%, 32.3% 46.04%, 35.03% 42.34%, 38.34% 38.44%, 41.91% 32.94%, 44.15% 27.81%, 43.39% 22.11%, 38.44% 17.51%, 35.16% 12.96%, 32.82% 7.94%, 32.54% 0%, 57.38% 0%, 57.37% 8.81%, 60.1% 13.24%, 64.07% 16.1%, 67.78% 21.81%, 67.85% 27.12%, 65.71% 32.46%, 62.43% 36.52%, 58.15% 40.77%, 55.88% 46.34%, 56.63% 55.1%, 54.59% 59.86%, 51.44% 64.31%, 48.2% 69.52%, 46.96% 75.21%, 49.6% 80.07%, 52.03% 84.14%, 56.15% 87.72%, 57.38% 93.25%, 57.38% 100%, 33.76% 100%, 33.46% 93.25%, 30.44% 88.59%, 27.03% 84.63%, 23.89% 79.78%, 24.17% 74.21%);
    }

    70% {
        clip-path: polygon(26.96% 69.45%, 29.54% 65.15%, 31.66% 60.19%, 32.54% 54.95%, 32.3% 46.04%, 34.15% 41.91%, 36.84% 38.44%, 39.28% 33.23%, 40.15% 28.52%, 38.64% 23.68%, 36.64% 18.64%, 33.91% 13.96%, 32.44% 7.08%, 32.54% 0%, 57.38% 0%, 57.25% 9.53%, 59.1% 14.81%, 63.13% 19.21%, 65.78% 24.24%, 65.97% 29.26%, 64.71% 34.75%, 61.68% 37.95%, 58.52% 41.34%, 57.38% 46.63%, 57.38% 55.1%, 55.09% 60.72%, 51.56% 65.02%, 48.95% 69.09%, 48.96% 74.64%, 51.35% 79.21%, 53.4% 84%, 56.15% 87.72%, 57.38% 93.25%, 57.38% 100%, 33.76% 100%, 33.46% 93.25%, 32.54% 88.2%, 30.44% 83.64%, 28.26% 79.21%, 26.54% 74.64%);
    }

    80% {
        clip-path: polygon(31.71% 68.59%, 31.79% 64.58%, 31.66% 60.19%, 32.54% 54.95%, 32.3% 46.04%, 34.15% 41.91%, 35.34% 36.87%, 36.41% 31.52%, 36.78% 26.66%, 36.39% 22.82%, 34.89% 18.5%, 32.41% 14.25%, 32.44% 7.08%, 32.54% 0%, 57.38% 0%, 57.25% 9.53%, 57.6% 16.1%, 60.38% 21.35%, 62.16% 26.38%, 61.6% 30.83%, 59.96% 35.18%, 58.43% 37.95%, 57.27% 41.77%, 57.38% 46.63%, 57.38% 55.1%, 55.09% 60.72%, 53.31% 65.02%, 52.95% 68.95%, 53.34% 73.93%, 54.73% 77.64%, 55.28% 82.57%, 56.15% 87.72%, 57.38% 93.25%, 57.38% 100%, 33.76% 100%, 33.46% 93.25%, 33.67% 87.77%, 33.07% 82.64%, 30.64% 77.35%, 30.04% 73.21%);
    }

    90% {
        clip-path: polygon(32.81% 68.8%, 32.69% 64.34%, 32.61% 59.65%, 32.49% 55.19%, 32.3% 46.04%, 32.53% 40.91%, 33.22% 35.16%, 34.16% 30.38%, 34.05% 24.92%, 33.27% 21.96%, 33.14% 18.21%, 32.41% 14.25%, 32.44% 7.08%, 32.54% 0%, 57.38% 0%, 57.25% 9.53%, 57.6% 16.1%, 58.76% 21.92%, 59.54% 27.24%, 59.23% 30.83%, 58.84% 35.04%, 57.43% 37.66%, 57.27% 41.77%, 57.38% 46.63%, 57.38% 55.1%, 56.59% 61.01%, 56.06% 65.59%, 55.95% 69.81%, 55.97% 74.07%, 56.36% 78.35%, 56.41% 83%, 57.4% 88.29%, 57.38% 93.25%, 57.38% 100%, 33.76% 100%, 33.46% 93.25%, 33.67% 87.77%, 33.22% 82.17%, 32.88% 77.48%, 32.54% 72.78%);

    }

    100% {
        clip-path: polygon(32.54% 0%, 57.38% 0%, 57.38% 100%, 32.54% 100%);
    }
}

@keyframes rainDrop {
    0% {
        transform: translateY(0vh);
    }

    75% {
        transform: translateY(90vh);
    }

    100% {
        transform: translateY(90vh);
    }
}

@keyframes stem {
    0% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes splat {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    80% {
        opacity: 1;
        transform: scale(0);
    }

    90% {
        opacity: 0.5;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}
